@font-face {
    font-family: "iconfont"; /* Project id 3063471 */
    src: url('//at.alicdn.com/t/font_3063471_d6hljez89fa.woff2?t=1640800584465') format('woff2'),
    url('//at.alicdn.com/t/font_3063471_d6hljez89fa.woff?t=1640800584465') format('woff'),
    url('//at.alicdn.com/t/font_3063471_d6hljez89fa.ttf?t=1640800584465') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    /*font-size: 18px;*/
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Gmail:before {
    content: "\e605";
    font-size: 20px;
}

.icon-QQ:before {
    content: "\e882";
    font-size: 20px;
}

.icon-gitee:before {
    content: "\e60c";
    font-size: 18.99px;
}
